body {
    font-family: sans-serif;
}

div#header {
    background-color: #ffd0d0;
}

div#footer {
    background-color: #d0ffd0;
}

div#left-nav {
    background-color: #ffffd0;
}

div#right-nav {
    background-color: #d0ffff;
}

div#content {
    background-color: #d0d0ff;
}