.float-left {
	float:left;
}

div#flex {
	flex-flow: row wrap;
}
div#header {
	position: absolute;
	right: 0;
	left:0;
	height: 5em;
	padding: 0 15px;
}
/*
div#left-nav {
	position: absolute;
	left: 0;
	width: 10em;
	top: 6em;
	bottom: 0;
}

div#right-nav {
	position: absolute;
	right: 0;
	width: 10em;
	top: 6em;
	bottom: 0;
}*/

div#content {
	/*float: left;*/
	/*margin: 6em 10.5em 15px;*/
	columns: 3;
}

div#footer {
	height: 6em;
	padding: 0 15px;
	clear: both;
}
/*
@media screen and (max-width: 1015px) {

	div#right-nav {
		position: static;
		width: auto;
		float: none;
	}

	div#left-nav {
		position: static;
		width: auto;
		float: none;
	}

	div#content {
		position: static;
		width: auto;
		float: none;
		margin: 0;	
	}

	div#header {
		position: static;
		height: 5em;
		padding: 0 15px;
	}
}*/